*{
    font-family: "Inter", sans-serif;
}
html {
    scroll-behavior: smooth;
}

/*header section starts*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/Hero-bg.png");
    max-height: 652px;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    margin: 0% auto;
    margin-bottom: 60px;

}
.bg{
    margin-bottom: 10px;
}
#hp{
    font-size: 16px;
    font-weight: 400; 
}
#hb{
    font-size: 20px;
    font-weight: 600;
}
.banner h2{
    text-align: center;
    margin-bottom: 7px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner p{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner button{
    background-color: black;
    border-radius: 6px;
    width: 208px;
    height: 68px;
}
/*header section ends*/

/*why web dev section*/
.wwd{
    max-width: 1140px;
    max-height: 1395;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    padding: 90px 90px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 50px;
}
.wwd h1{
    text-align: center;
    font-size: 39px;
    font-weight: 800;
}
#wwdp{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.bd1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}
.bd1l{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bd1lp{
    font-size: 13px;
    font-weight: 400;
}
#bd1lb{
    width: 130px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;

}

.bd2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}
.bd2r{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bd2rp{
    font-size: 13px;
    font-weight: 400;
}
#bd2rb{
    width: 130px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
}

.bd3{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 10px;
}
.bd3l{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bd3lp{
    font-size: 13px;
    font-weight: 400;
}
#bd3lb{
    width: 130px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
}

/*why web dev section*/



/*My Inspiration section starts*/

.mi{
    max-width: 1140px;
    max-height: 777px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 99px;
}
#mins{
    font-size: 42px;
    font-weight: 800;
}
#mip{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.video{
    max-width: 1140;
    max-height: 614;
    border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
    padding: 32px;
}
.video iframe{
    border-radius: 16px;
}

/*My Inspiration section ends*/



/*my current target section*/
.mct{
    max-width: 1140px;
    max-height: 463px;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    margin-bottom: 90px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#mcth{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}
#mctp{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
#c1{
    max-width: 364px;
    max-height: 300px;
    border-radius: 16px;

}
#c1{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
#c1a{
    font-size: 16px;
font-weight: 700;
}
#c2{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
#c2a{
    font-size: 16px;
    font-weight: 700;
}
#c3{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
#c3a{
    font-size: 16px;
    font-weight: 700;
}
/*my current target section*/

/*I need support part starts*/
.ins{
    max-width: 1140px;
    max-height: 314px;
    margin: 0% auto;
    background-color: rgba(0, 0, 0, 0.71);
    background-image: url("../asset/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.insc{
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f1{
    margin-right: 20px; 
}
#insh{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}
#insp{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
input[type="text"]{
    width: 540px;
    height: 47px;
    padding-left: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px
}
#insb{
    width: 120px;
    height: 48px;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
font-weight: 600;
}
/*I need support part ends*/

/*footer starts*/
#footer{
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}
.fd{
    max-width: 1920px;
    max-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    background: rgba(105, 105, 105, 0.078);
}
#fdh{
    font-size: 20px;
    font-weight: 600;
}
#logo{
    display: flex;
    gap: 20px;
}
/*footer ends*/
