@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*header section starts*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/Hero-bg.png");
    max-height: 652px;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 2px solid red;*/
    padding: 30px;
    margin: 0% auto;
    margin-bottom: 60px;

}
.bg{
    margin-bottom: 10px;
}
.banner h2{
    text-align: center;
    margin-bottom: 7px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner p{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner button{
    background-color: black;
    border-radius: 6px;
    width: 208px;
    height: 68px;
}
/*header section ends*/

/*why web dev section*/
.wwd{
    max-width: 1140px;
    max-height: 1395;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    padding: 97px 80px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 30px;
}
.wwd h1{
    text-align: center;
    font-size: 39px;
    font-weight: 800;
}
#wwdp{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.bd1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}

.bd2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}

.bd3{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 10px;
}

/*why web dev section*/



/*My Inspiration section starts*/

.mi{
    max-width: 1140px;
    max-height: 777px;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% auto;
    margin-bottom: 30px;
}
#mip{
    margin-bottom: 30px;
}
.video{
    max-width: 1140;
    max-height: 614;
    border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
    padding: 32px;
}
.video iframe{
    border-radius: 16px;
}

/*My Inspiration section ends*/



/*my current target section*/
.mct{
    max-width: 1140px;
    max-height: 463px;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#mcth{
    text-align: center;
}
#mctp{
    text-align: center;
}
#c1{
    max-width: 364px;
    max-height: 300px;
    border-radius: 16px;

}
#c1{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
#c2{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
#c3{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/*my current target section*/

/*I need support part starts*/
.ins{
   
    max-width: 1140px;
    max-height: 314px;
    margin: 0% auto;
    background-image: url("../asset/handshake.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.insc{
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f1{
    margin-right: 20px;
    
}
#insh{
    text-align: center;
}
#insp{
    text-align: center;
}
input[type="text"]{
    width: 540px;
    height: 47px;
    padding-left: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px
}
#insb{
    width: 120px;
    height: 48px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
/*I need support part ends*/

/*footer starts*/
.footer{
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}
.fd{
    max-width: 1920px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    background: rgba(105, 105, 105, 0.078);
}
#logo{
    display: flex;
    gap: 20px;
}
/*footer ends*/
